    .header 
{
    display: flex;
    background: #416dca;
    justify-content: flex-end;
    align-items: center;
    color: white;
    height: 65px;
}
    .padding 
{
    padding-right: 10px;
}
    h4
{
    position: absolute;
    right: 80%;
    font-family: 'Poppins', sans-serif;
}
    .filters 
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 15%;
    left: 23%;
}
    .filters select 
{
    width: 100px; 
}
    .transactions 
{
    margin-top: 40px;
}
  
  .transactions-header 
{
    background: #416dca;
    position: relative;
    top: 80px;
    height: 80px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0 10px;
}
  
   .transactions-header :nth-child(2) 
{
    display: flex;
}
    h3
{
    position: absolute;
    left: 40%;
    bottom: 20px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}
    .padding-1
{
    position: relative;
    right: 250%;
    top: 32px;
}
   #transactions-table
{
    position: relative;
    top: 100px;
}